* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(90deg, #2E2D40 30%, #1ed470);
  color: linen;
}

h1, h2, h3 {
  color: white;
}

main {
  padding: 90px 0 0 0;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #2E2D40;
  align-items: center;
  border-bottom: 2px solid #1ed470;
  
}

#header-span {
  display: flex;
  align-items: center;
  width: 60%;
  padding: 0 0 0 50px;
  gap: 10px;
}

#header-img {
  object-fit: cover;
  height: 50px;
  
}

#nav-bar {
  width: 40%;
}

ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

a, a:active, a:visited  {
  text-decoration: none;
  color: linen;
}

a:hover {
  color: #1ed470;
}

#signin-section h1 {
  text-align: center;
}

#form {
  display: flex;
  flex-direction: column;
}

#email {
  width: 300px;
  padding: 5px;
  margin: 0 auto 20px auto;
  border: 2px solid #1ed470;
  background-color: linen;
  border-radius: 10px;
}

#submit {
  border: none;
  margin: 0 auto 50px auto;
  width: 150px;
  height: 30px;
  font-weight: bold;
  background-color: #1ed470;
  color: linen;
  border-radius: 20px;
}

#submit:hover {
  background-color: linen;
  color: #1ed470;
}

#Features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 50px 0;
}

.feature-span {
  width: 75%;
  display: flex;
  gap: 50px;
  align-items: center;
}

.features-img {
  object-fit: cover;
  height: 70px;
}

#Video-section {
  display: flex;
}

#video {
  width: 560px;
  height: 315px;
  margin: 0 auto 0 auto;
  border: 2px solid linen;
  border-radius: 10px;
}

#Prices-section {
  margin: 50px 0;
}

#pricing {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 1px 10px;
}

.price-offer {
  background-color: #2E2D40;
  width: 100%;
  border: 2px solid linen;
  border-radius: 10px;
  text-align: center;
}

.price-header {
  border-bottom: 2px solid #1ed470;
  height: 25%;
  display: flex;
  justify-content: center;
}

.price-offer h2 {
  margin-bottom: 0;
}

.price-body {
  display: flex;
  flex-direction: column;
  height: 75%;
  gap: 20px;
}

.price-body p {
  height: 2.7rem;
}

.offer-submit {
  margin: auto auto 20px auto;
  background-color: #1ed470;
  color: linen;
  border-radius: 20px;
  border: none;
  width: 80px;
  height: 25px;
  text-align: center;
}

.offer-submit:hover {
  background-color: linen;
  color: #1ed470;
}

#footer-section {
  background-color: #2E2D40;
  border-top:  2px solid #1ed470;
  margin-bottom: -20px;
  height: 70px;
  display: flex;
  justify-content: right;
}

#Copyright {
  margin: -5px 10px 0 0;
  color: #676672;
}

@media (max-width: 600px) {
  #header-span {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0 0 0 20px;
    gap: 10px;
  }

  #header img {
    height: 40px;
  }

  #header h1 {
    font-size: 1.2rem;
  }

  #header nav {
    width: 50%;
  }

  #header ul {
    flex-direction: column;
    align-items: center;
    gap: 3px;
  }
  
  #video {
    width: 350px;
    height: 200px;
  }

  #pricing {
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }
}